body {
    margin:0;
}

.red {
    background: #c71226;
    height: 100px;
    /*Challenge:
    Add 100px of margin on the bottom of the red box. */
    
}

.blue {
    margin: 30px 0;
    background: #0d1b88;
    height: 100px;
}

.green {
    background: #397327;
    height: 100px;
}
